# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
.env/

# Large / generated data
data/
processed_data/


# Logs
*.log

# OS files
.DS_Store

# model file (>80MB)
model.pt


# model checkpoints
*.pt
*.bin
*.ckpt

# huggingface model folders
bert-wiki-backbone/
bert-wiki-dapt/

# python
__pycache__/
*.pyc
lexbert_env/

# jupyter
.ipynb_checkpoints/

# data cache
~/.cache/huggingface/

# png
*.png